.DS_Store
.context/
.codex/
.tooling/

app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.idea/
app/build/
app/chiron.iml

app/android/.gradle/
app/android/local.properties
app/android/key.properties
app/android/build/

app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/ephemeral/
app/ios/Flutter/flutter_export_environment.sh
app/ios/Runner/GeneratedPluginRegistrant.h
app/ios/Runner/GeneratedPluginRegistrant.m
